@use "./fonts";
@use "./colors" as colors;

html,
body {
  margin: 0;
  font-family: "EAText";
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* remove default margins for more control of spacing */
h1,
h2,
h3,
a,
p {
  margin: 0;
}

// ul,
// label,
// textarea {
//   margin: 0;
// }
// textarea,
// input {
//   font-family: inherit;
// }

// ::placeholder {
//   color: colors.$primary-black;
//   font-family: "Avenir Next";
// }
