.cardTwo {
  display: flex;
  background-color: #333333;
  border-radius: 30px;
  margin: 0 auto;
  margin-bottom: 3.75rem;
  width: 93%;

  &__container-left {
    width: 45%;
  }

  &__container-right {
    width: 55%;
  }

  &__title {
    color: #ffffff;
    font-size: 3.125rem;
    font-weight: 700;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1.75rem;
  }

  &__text {
    color: #cccccc;
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 2.9375rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 0.3125rem;
  }

  &__event-text {
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 400;
    padding-left: 2rem;
  }

  &__cta-wrapper {
    text-align: right;
  }

  &__cta {
    background-color: #ffffff;
    border: none;
    border-radius: 0.3125rem;
    color: #000000;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 700;
    margin-right: 2rem;
    margin-bottom: 2.125rem;
    padding: 0.75rem 1.5rem;
  }

  &__image {
    border-radius: 30px;
    height: 100%;
    width: 100%;
  }
}
