@use "../../styles/partials/fonts";
@use "../../styles/partials/resets";
@use "../../styles/partials/colors" as colors;
@use "../../styles/partials/breakpoints" as breakpoints;

.top-carousel-swiper {
  z-index: 0;
}

@include breakpoints.medium {
  .top-carousel-slide {
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem;
    padding: 2rem 4rem;
    gap: 4rem;
    &__text-container {
      color: #000000;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      max-width: 30rem;
    }
    &__title {
      font-size: 2rem;
      margin-bottom: 2rem;
      font-weight: bold;
      text-align: center;
    }
    &__description {
      font-size: 0.9rem;
      line-height: 1.3rem;
      text-align: center;
    }

    &__image {
      width: 100%;
      object-fit: cover;
    }
    &__image-container {
      width: 400px;
    }
  }
}

@include breakpoints.large {
  .top-carousel-slide {
    height: 700px;
    &__title {
      font-size: 2.5rem;
    }
    &__description {
      font-size: 1rem;
      line-height: 1.4rem;
      text-align: center;
    }
    &__image-container {
      width: 600px;
    }
  }
}
